@import "styles.css";

.add-movie-section {
    width: 60%;
    padding: 3%;
    color: azure;
}

input {
    width: 200px;
    height: 30px;
}

button {
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: azure;
    color: red;
    font-size: 1em;
    font-weight: 600;
}

.added_movie img{
    width: 100px;
}
