@import "styles.css";

.add-user-section {
    width: 60%;
    min-height: 600px;
    padding: 6%;
}

.add-user-section h1 {
    color:azure;
    font-size: 3em;
}

.add-user-section label {
    color:azure;
}

.add-user-section input {
    height: 30px;
}

.add-user-section button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: azure;
    border: none;
    font-size: large;
    color: red;
    font-weight: 600;
}

.add-user-section button:hover {
    box-shadow: 2px 2px 5px black;
}

.new_user {
    color: azure;
}