@import "styles.css";

.delete-movie-container {
    width: 60%;
    min-height: 600px;
    padding: 6%;
    color: azure;
}

.delete-movie-container button {
    width: 150px;
    height: 30px;
    background-color: azure;
    font-weight: 600;
    color: red;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.delete-movie-container button:hover {
    box-shadow: 2px 2px 5px black;
}