@import "styles.css";

.movie-reviews-section {
    width: 60%;
    min-height: 550px;
    padding: 6%;
    color:azure;
}

.movie-reviews-section h2 {
    font-size: 3em;
}

.movie-reviews-section ul {
    list-style-type: none;
}

.movie-reviews-section ul li {
    width: 300px;
    padding: 1%;
    margin: 1%;
    background-color: rgb(117, 3, 3);
    border-radius: 5px;
    text-align: center;
}

.users-section ul li a {
    color: azure;
    text-decoration: none;
}