<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MovieWeb App | 404 Error</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/404-style.css">
    </head>
    <body>
        <div class="error-section">
            <div class="error-txt">
                <h1>404 ERROR</h1>
                <h3>OPPS! PAGE NOT FOUND!</h3>
            </div>
            
            <div class="buttons">
                <div class="btn" id="error-btn">
                    <a href="/"><button>RETURN HOME</button></a>
                </div>
            </div>
        </div>
        
        
        <footer>
            
            <hr>
            <div class="copyright">
                <p>&copy All right Reserved | 2023 | MovieWeb App</p>
            </div>
        </footer>
        <!-- Include Bootstrap JS and Popper.js (optional) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script src="/static/index.js"></script>

    </body>
</html>