<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MovieWeb App | Add Movie</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/add_movie_style.css">
    </head>
    <body>
        <header>
            <!-- LOGO -->
            <div class="logo-header">
                <div class="logo-img">
                    <img src="/static/images/MovieWebApp_logo_trans_bg.png" alt="Logo">
                </div>
                <div class="header-txt">
                    <h1>MovieWeb App</h1>
                </div>
    
    
            </div>
    
            <nav class="navbar">
                <ul class="menu">
                    <li><a class="active" href="/">HOME</a></li>
                    <li><a href="/users">USERS</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="add-movie-section">
                <h1> Add a new movie for <br>User {{ user_name }}</h1><br>
                <form method="post" action="/users/{{ user_id }}/add_movie">
                    <label for="title">Title:</label><br>
                    <input type="text" id="title" name="title" required><br><br>
    
                    <button type="submit">Add Movie</button>
                </form>
                <br><br>
    
                {% if movie_exist %}
                    <div class="movie_exist">
                        <h2>The movie already exists:</h2><br>
                        <p>Title: {{ movie_exist.title }}</p>
                        <p>Director: {{ movie_exist.director }}</p>
                        <p>Year: {{ movie_exist.year }}</p>
                        <p>Rating: {{ movie_exist.rating }}</p>
                        <br><br>
                    </div>
                {% endif %}
    
                {% if new_movie %}
                    <div class="added_movie">
                        <h2>Added Movie:</h2><br>
                        <p>Title: {{ new_movie.title }}</p>
                        <p>Director: {{ new_movie.director }}</p>
                        <p>Year: {{ new_movie.year }}</p>
                        <p>Rating: {{ new_movie.rating }}</p>

                        {% if new_movie.poster %}
                            <img src="{{ new_movie.poster }}" alt="Movie Poster">
                        {% endif %}
                        <br><br>
                    </div>
                {% endif %}
                {% if api_error %}
                    <div class="api-error">
                        <h2>Error:</h2>
                        <p>Failed to fetch movie details from OMDb API.</p>
                    </div>
                {% endif %}
            </div> 
        </main>
        <footer>
            <nav class="navbar">
                <ul class="menu">
                    <li><a class="active" href="/">HOME</a></li>
                    <li><a href="/users">USERS</a></li>
                </ul>
            </nav>
            <hr>
            <div class="copyright">
                <p>&copy All right Reserved | 2023 | MovieWeb App</p>
            </div>
        </footer>
        <!-- Include Bootstrap JS and Popper.js (optional) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script src="/static/index.js"></script>

    </body>
</html>